DISCORD_BOT_TOKEN=ton_token_ici
DISCORD_USER_ID=340479270449315840
DISCORD_CHANNEL_ID=1513887659339288676
SPREADSHEET_ID=1jCijlZVgIGK-8TCbM9zwv7c3F4BSsMZNlTHV_iMzFPM
SHEET_NAME=Données Loys
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
